# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache
node_modules/*
report/*
tmp/*

# OS or Editor folders
.DS_Store
.cache
.project
.settings
.tmproj
nbproject
Thumbs.db

# Dreamweaver added files
_notes
dwsync.xml

# Komodo
*.komodoproject
.komodotools

# Folders to ignore
.hg
.svn
.CVS
intermediate
publish
.idea

# build script local files
build/buildinfo.properties
build/config/buildinfo.properties

manifest.json
package.json

header.php
footer.php
images/
img/
**/images/
**/img/
*.jpeg
*.mp4
*.png
*.jpg
*.pdf
*.gif
*.mov
*.psd
**/*.jpeg
**/*.mp4
**/*.png
**/*.jpg
**/*.gif
**/*.pdf
plugins/
**/plugins/
.config
.htaccess
.DS_Store
.ftpconfig
.ftpignore
.wakatime-project
wp-admin/
wp-includes/
wp-config.php
wp-settings.php
